<button class="bouton" >
		<a class="lien" href="{{ path('index_home') }}"><i class="fas fa-home"></i></a>
	</button>

	<button class="bouton" >
		<a class="lien" href="{{ path('index_admin') }}">Espace Admin</a>
	</button>

	<button class="bouton" >
		<a class="lien" href="{{ path('index_systeme') }}">Système</a>
	</button>

	<button class="bouton" >
		<a class="lien" href="{{ path('index_utilisateurs') }}">Utilisateurs</a>
	</button>

	<button class="bouton" >
		<a class="lien" href="{{ path('index_contenu') }}">Contenu</a>
	</button>

	<button class="bouton" >
		<a class="lien" href="{{ path('index_categorie') }}">Catégorie</a>
	</button>

	<button class="bouton" >
		<a class="lien" href="{{ path('index_articles-a-la-une') }}">Articles à la une</a>
	</button>

	<button class="bouton" >
		<a class="lien" href="{{ path('index_images') }}">Images</a>
	</button>

	<button class="bouton" >
		<a class="lien" href="{{ path('index_extensions') }}">Extensions</a>
	</button>
	<button class="bouton" >
		<a class="lien" href="{{ path('index_a_propos') }}">
			A propos
		</a>
	</button>
	<button class="bouton" >
		<a class="lien" href="{{ path('index_livres') }}">
			Les livres
		</a>
	</button>
	<button class="bouton" >
		<a class="lien" href="{{ path('index_locations') }}">
			Les locations
		</a>
	</button>
	<button class="bouton" >
		<a class="lien" href="{{ path('index_documentation') }}">
			Documentation
		</a>
	</button>
	<button class="bouton" >
		<a class="lien" href="{{ path('index_contactbiblio') }}">
			Nous Contacter
		</a>
	</button>
	<button class="bouton" >
		<a class="lien" href="{{ path('index_connexion') }}">
			Connexion
		</a>
	</button>
	<button class="bouton" >
		<a class="lien" href="{{ path('index_administration') }}">
			Administration
		</a>
	</button>

		<button class="bouton" >
		<a class="lien" href="{{ path('index_logout') }}">Logout</a>
	</button>




